<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<h1 class="mui-title">心理</h1>
		</header>
		<div class="mui-content" style="position: relative;top: -5px;">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" style="border-left: 6px solid red;">心理FM</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/swan.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">一个人的水准，不看长项看短板</p>
							<small style="color: darkgrey;">主播 叮咚（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/friendship.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">如果你爱的人却不爱你</p>
							<small style="color: darkgrey;">主播 秦桑（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media" style="">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/forest.jpg"/>
						<div class="mui-media-bod">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">总有一次深夜痛哭，让你长大</p>
							<small style="color: darkgrey;">主播 风裘（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media" style="">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/ocean.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">你想要的生活，转身就能拥有</p>
							<small style="color: darkgrey;">主播 冰夏（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media" style="">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/warm.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">什么样的人不适合结婚</p>
							<small style="color: darkgrey;">主播 清馨（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/dark.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">你迷茫全都是因为你懒</p>
							<small style="color: darkgrey;">主播 君君（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell" style="text-align: center;color: dimgrey;font-size: 14px;" id="moreFM">更多电台</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 8px;">
				<li class="mui-table-view-cell" style="border-left: 6px solid mediumvioletred;">心理测试</li>
			</ul>
			<div class="mui-card" style="position: relative;top: -10px;">
				<div class="mui-card-content" id="card1">
					<div class="mui-card-content-inner">
						<label style="font-size: 16px;">测试别人眼中的你到底有多厉害？</label><br />
						<label style="font-size: 14px;color: darkgrey;">在别人眼中你是不是一个有威慑力的人？你是希望别人觉得你老成点好，还是单纯点好呢？</label>
					</div>
					<img src="../images/warm.jpg" style="width: 95%;height: 50vw;display: block;margin: 0px auto;padding-bottom: 7px;position: relative;top: -3px;"/>
				</div>
			</div>
			<div class="mui-card" style="position: relative;top: -5px;">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<label style="font-size: 16px;">虚荣心自测</label><br />
						<label style="font-size: 14px;color: darkgrey;">别告诉我你一丁点虚荣心都没有，每个人都会有虚荣心，只是多少的程度罢了。做个小游戏，看一下你的虚荣心指数是多少。</label>
					</div>
					<img src="../images/books.jpg" style="width: 95%;height: 50vw;display: block;margin: 0px auto;padding-bottom: 7px;position: relative;top: -3px;"/>
				</div>
			</div>
			<div class="mui-card" style="position: relative;top: -5px;">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<label style="font-size: 16px;">你是上帝创造的哪个特殊人？</label><br />
						<label style="font-size: 14px;color: darkgrey;">你会是被上帝当作珍品投入无限期待的一个吗？上帝大手一挥就创造了人类，而你就是其中一个你会成为无数人中最平凡的一个，还是能够成为他人的先驱？属于你的位置在哪？</label>
					</div>
					<img src="../images/coffee.jpg" style="width: 95%;height: 50vw;display: block;margin: 0px auto;padding-bottom: 7px;position: relative;top: -3px;"/>
				</div>
			</div>
			<ul class="mui-table-view" style="position: relative;top: -15px;" id="moreTest">
				<li class="mui-table-view-cell" style="text-align: center;">更多心理测试</li>
			</ul>
			<script src="../js/mui.min.js"></script>
			<script type="text/javascript">
				mui.init();
				var card1 = document.getElementById("card1");
				var fm = document.getElementById("moreFM");
				var test = document.getElementById("moreTest");
				
				card1.addEventListener('tap',function() {
					mui.openWindow("test.html");
				});
				
				fm.addEventListener("tap",function() {
					mui.openWindow("more_fm.html");
				});
				
				test.addEventListener("tap",function() {
					mui.openWindow("more_test.html");
				});
			</script>
	</body>

</html>