<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<div id="popover" class="mui-popover">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#">Item1</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="#">Item2</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="#">Item3</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="#">Item4</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="#">Item5</a>
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
		</script>
	</body>

</html>