<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">更多电台</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/swan.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">一个人的水准，不看长项看短板</p>
							<small style="color: darkgrey;">主播 叮咚（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/friendship.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">如果你爱的人却不爱你</p>
							<small style="color: darkgrey;">主播 秦桑（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media" style="">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/forest.jpg"/>
						<div class="mui-media-bod">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">总有一次深夜痛哭，让你长大</p>
							<small style="color: darkgrey;">主播 风裘（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media" style="">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/ocean.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">你想要的生活，转身就能拥有</p>
							<small style="color: darkgrey;">主播 冰夏（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media" style="">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/warm.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">什么样的人不适合结婚</p>
							<small style="color: darkgrey;">主播 清馨（来源：壹心理）</small>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../images/dark.jpg"/>
						<div class="mui-media-body">
							<p class="mui-ellipsis-2" style="color: black;letter-spacing: 2px;">你迷茫全都是因为你懒</p>
							<small style="color: darkgrey;">主播 君君（来源：壹心理）</small>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>