<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css"/>
		<style type="text/css">
			body {
				background: white;
			}
			
			.link {
				position: relative;
				left: 215px;
				margin-right: 12px;
			}
			
			.iconfont {
				font-size: 24px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<h1 class="mui-title">精神食粮</h1>
			<label style="font-size: 12px;position: absolute;right: 20px;top: 5px;color: #555555">青山湖区</label><br />
			<label style="font-size: 12px;position: absolute;right:22px;color: #555555">27&deg;C&nbsp;&nbsp;&nbsp;晴</label>
		</header>
		<div class="mui-content">
			<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					<a class="mui-control-item mui-active">
						推荐
					</a>
					<a class="mui-control-item">
						励志语录
					</a>
					<a class="mui-control-item">
						人生感悟
					</a>
					<a class="mui-control-item">
						名人名言
					</a>
					<a class="mui-control-item">
						唯美句子
					</a>
					<a class="mui-control-item">
						爱情语录
					</a>
				</div>
			</div>

			<div class="mui-slider">
				<div class="mui-slider-group">
					<!--第一个内容区容器-->
					<div class="mui-slider-item mui-control-content mui-active">
						<!-- 具体内容 -->
						<div class="mui-card">
							<div class="mui-card-header mui-card-media" style="height:50vw;background-image:url(../images/26.jpg)"></div>
							<div class="mui-card-content">
								<div class="mui-card-content-inner">
									<label style="font-size: 16px;" id="quotation">当你辛辛苦苦的努力讨好一个人，为她做各种事情，你却发现她只是为了逗你，而你却还像个傻子一样继续努力地为她做她让你做的事，明明知道不可能却还是那么的想讨好她，让她回头。</label>
								</div>
								<div class="mui-card-content-inner">
									<div style="color: #999999;">
										2018-06-07
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-xihuan-copy"><span class="mui-badge-inverted" style="font-size: 12px;position: relative;top: -15px;" id="numbers">50</span></span>
										</a>
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-shoucang"><span class="mui-badge-inverted" style="font-size: 12px;position: relative;top: -15px;" id="count">20</span></span>
										</a>
										<a href="share.html" class="link">
											<span class="mui-icon iconfont icon-fenxiang"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="mui-card">
							<div class="mui-card-header mui-card-media" style="height:50vw;background-image:url(../images/card2.jpg)"></div>
							<div class="mui-card-content">
								<div class="mui-card-content-inner">
									<label style="font-size: 16px;">很希望自己是一棵树，守静，向光，安然，敏感的神经末梢，触着流云和微风，窃窃的欢喜。脚下踩着最卑贱的泥，很踏实。还有，每一天都在隐秘成长。————黎戈</label>
								</div>
								<div class="mui-card-content-inner">
									<div style="color: #999999;">
										2018-06-07
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-xihuan-copy"><span class="mui-badge-inverted" style="font-size: 12px;position: relative;top: -15px;" id="numbers">50</span></span>
										</a>
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-shoucang"><span class="mui-badge-inverted" style="font-size: 12px;position: relative;top: -15px;" id="count">20</span></span>
										</a>
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-fenxiang"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="mui-card">
							<div class="mui-card-header mui-card-media" style="height:50vw;background-image:url(../images/21.jpg)"></div>
							<div class="mui-card-content">
								<div class="mui-card-content-inner">
									<label style="font-size: 16px;">如果你有机会做梦，请别放弃做梦的机会。你要相信，尽管黑夜漫长，但黎明总会到来。梦想面前，我们都是不被世界了解的神经病，陪你一起走过最孤单的日子。</label>
								</div>
								<div class="mui-card-content-inner">
									<div style="color: #999999;">
										2018-06-07
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-xihuan-copy"><span class="mui-badge-inverted" style="font-size: 12px;position: relative;top: -15px;" id="numbers">50</span></span>
										</a>
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-shoucang"><span class="mui-badge-inverted" style="font-size: 12px;position: relative;top: -15px;" id="count">20</span></span>
										</a>
										<a href="javascript:;" class="link">
											<span class="mui-icon iconfont icon-fenxiang"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			
			var num = document.getElementById('numbers');
			var count = document.getElementById("count");
			var like = document.getElementsByClassName('link');
			var quo = document.getElementById("quotation");
			
			like[0].style.color = localStorage.getItem("color");
			like[1].style.color = localStorage.getItem("color1");
			count.innerHTML = localStorage.getItem("shoucang");
			num.innerHTML = localStorage.getItem("aixin");

			var i = 0;
			like[0].addEventListener('tap',function() {
				i ++;
				
				if(i % 2 == 1) {
					localStorage.setItem("aixin",num.innerHTML);
					num.innerHTML = parseInt(localStorage.getItem("aixin")) + 1;
					localStorage.setItem("aixin",num.innerHTML);
					
					localStorage.setItem("color","red");
					like[0].style.color = localStorage.getItem("color");
				} else {
					localStorage.setItem("aixin",num.innerHTML);
					num.innerHTML = parseInt(localStorage.getItem("aixin")) - 1;
					localStorage.setItem("aixin",num.innerHTML);
					
					localStorage.setItem("color","darkgrey");
					like[0].style.color = localStorage.getItem("color");
				}
			});
			
			var j = 0;
			like[1].addEventListener('tap',function() {
				j ++;
				if(j % 2 == 1) {
					localStorage.setItem("shoucang",count.innerHTML);
					count.innerHTML = parseInt(localStorage.getItem("shoucang")) + 1;
					localStorage.setItem("shoucang",count.innerHTML);
					localStorage.setItem("quotation",quotation.innerHTML);
					
					localStorage.setItem("color1","yellow");
					like[1].style.color = localStorage.getItem("color1");
					
					mui.toast("已收藏");
				} else {
					localStorage.setItem("shoucang",count.innerHTML);
					count.innerHTML = parseInt(localStorage.getItem("shoucang")) - 1;
					localStorage.setItem("shoucang",count.innerHTML);
					
					localStorage.setItem("color1","darkgrey");
					like[1].style.color = localStorage.getItem("color1");
					
					mui.toast("取消收藏");
					localStorage.removeItem("quotation");
				}	
			});
			
			like[2].addEventListener('tap',function() {
				mui.openWindow("share.html");
			});		
		
		</script>
	</body>

</html>