<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}
			
			#test {
				display: block;
				width: 60%;
				height: 45px;
				background: rgb(76,217,100);
				color: white;
				margin-top: -55px;
				margin-left: auto;
				margin-right: auto;
			}
			
			#p1 {
				width: 95%;
				display: block;
				margin: 0 auto;
				position: relative;	
				top: -185px;
			}
			
			#p2 {
				position: relative;
				top: -130px;
				float: right;
				right: 15px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="back"></a>
			<h1 class="mui-title">心理测试</h1>
		</header>
		<div class="mui-content">
			<img src="../images/books.jpg" style="height: 50vw;width: 100%;"/>
			<textarea name="" value="" rows="9" cols="" style="position: relative;top: -6px;vertical-align: middle;">
				找出你的绊脚石
			</textarea>
			<p id="p1">我们都希望事业可以迅速发展，但总有些或大或小的问题阻碍我们前进，可能是外界的原因，也可能是自身的原因。做个测试，一起来找找你的那颗小石头是什么吧。</p>
			<p id="p2">共 2 题</p>
			<button id="test">开始测试</button>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				var btn = document.getElementById("test");
				btn.addEventListener('tap',function() {
					mui.openWindow("testing.html");
				});
			})
		</script>
	</body>

</html>